Deny from all
Allow from 127.0.0.1 ::1 localhost
Allow from .htaccess

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /Codeigniter/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Codeigniter/index.php [L]
</IfModule>